<%- include("partials/header") %>

<div class="container" style="margin-top: 100px;">
    <h1 style="text-align: center;">Create a new Dog</h1>
    <div style="width: 30%; margin: 0 auto; border: 2px;">

        <form action="/" method="POST">
            <div class="form-group row">                
                <div class="col-sm-10">
                    <input type="text" name="blog[name]" class="form-control" id="name" placeholder="name">
                </div>
            </div>
            <div class="form-group row">                
                <div class="col-sm-10">
                    <input type="text" name="blog[image]" class="form-control" id="image" placeholder="image url">
                </div>
            </div>
            <div class="form-group row">                
                <div class="col-sm-10">
                    <textarea name="blog[body]" class="form-control" id="body" > </textarea>
                                        
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>  
        <a href="/"><strong>Go back</strong></a>      
    </div>
</div>

<%- include("partials/footer") %>